<div class="alert alert-info local-profilecompletion-notification mb-3" role="alert" data-region="local-profilecompletion-notification">
    <div class="fw-semibold">{{title}}</div>
    <div>{{body}}</div>
    <div class="mt-2">
        <button type="button" class="btn btn-primary btn-sm" id="{{buttonid}}">{{buttontext}}</button>
    </div>
</div>
